
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .navbar-icon{
      background-color: #001529;
    }
  }
  .navbar-logo {
    margin-right: 10px;
  }
  .user-profile-icon{
    cursor: pointer;
  }
  .ant-menu-item-selected
  {
    background: linear-gradient(180deg, rgba(24, 58, 88, 0) 0%, #183A58 100%) !important;
    border-bottom: 2px solid rgba(11, 130, 241, 1)

  }
  // @media screen and (max-width: 450px) {
  //   .navbar-menu {
  //    display: flex;
  //    flex-direction: column;
  //   }
  // }
  